FantasySports/Assembly-CSharp-Editor-vs.csproj
FantasySports/Assembly-CSharp-Editor.csproj
FantasySports/Assembly-CSharp-vs.csproj
FantasySports/Assembly-CSharp.csproj
FantasySports/FantasySports-csharp.sln
FantasySports/FantasySports.sln
FantasySports/Assembly-CSharp-firstpass-vs.csproj
FantasySports/Assembly-CSharp-firstpass.csproj

# UNITY #
FantasySports/Library
FantasySports/obj
FantasySports/Temp

#BuildProject#

#iOS#
#Build/iOS/Data
#Build/iOS/Frameworks
#Build/iOS/Libraries

#Android#
#Build/Android/AndroidPlugin/bin
#Build/Android/AndroidPlugin/gen

#Build/Android/unity-android-resources/bin
#Build/Android/unity-android-resources/gen
#Build/Android/unity-android-resources/res

#Build/Android/KBOmanager/assets
#Build/Android/KBOmanager/libs
#Build/Android/KBOmanager/res
#Build/Android/KBOmanager/src
#Build/Android/KBOmanager/gen
#Build/Android/KBOmanager/bin
#launch.json
